$xs: 375px;
$s: 576px;
$m: 992px;
$l: 1200px;
$xl: 1400px;

$font-common: 'Overpass', sans-serif;

$color-orange: #FC7614;
$color-white: hsl(0, 0%, 100%);
$color-light-gray: hsl(217, 12%, 63%);
$color-medium-grey: hsl(216, 12%, 24%);
$color-dark-blue: hsl(213, 19%, 18%);
$color-very-dark-blue: hsl(216, 12%, 8%);